# Sequel optimized
custom: &custom
  adapter: postgres
  encoding: utf8
  host: localhost
  default_schema: public
  max_connections: 5
  port: 5432
development:
  <<: *custom
  database: mr_parser_development
  user: dev
  password:
test:
  <<: *custom
  database: mr_parser_test
  username: dev
  password:
production:
  <<: *custom
  database: mr_parser_production
  username: dev
  password:
