<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Admin MrParser Test</title>

  <link rel="stylesheet" type="text/css" href="<%= asset_path :assets, 'application.css' %>">
  <script src="<%= asset_path :assets, 'application.js' %>"></script>

  <%== yield_content :head %>
</head>
<body>
  <%== yield %>
</body>
</html>